In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "/Users/bennetyousuf/Desktop/BCS/pandas-challenge2/HeroesofPymoli/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

#view full data frame
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
#find total number of unique players
total_players = len(purchase_data_df["SN"].unique())
total_players

576

In [3]:
#Display Total Number of Players
player_dicts =[{"Total Players": total_players}]
player_dicts_df = pd.DataFrame(player_dicts)
player_dicts_df

   Total Players
0            576

In [4]:
#Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, number of purchases, total revenue
#create data frame for unique number of item

unique_items = len(purchase_data_df["Item Name"].unique()) 
unique_items

179

In [5]:
#Purchasing Analysis (Total)
#create data frame for average number of purchases
average_price_rounded = round(purchase_data_df["Price"].mean(),2)
average_price = average_price_rounded
average_price

3.05

In [6]:
#Purchasing Analysis (Total)
#create data frame for total number of purchases 
#each purchase id is unique to a single purchase, take the count of unique purchase ids

total_number_purchases = len(purchase_data_df["Purchase ID"].unique())
total_number_purchases

780

In [7]:
#Purchasing Analysis (Total)
#create data frame for total revenue


total_revenue_float= purchase_data_df["Price"].sum()
total_revenue = total_revenue_float
total_revenue

2379.77

In [8]:
#Purchasing Analysis (Total)
#Display summary data frame for all values
#fill in colums in order using dictionary, list


summary_table = pd.DataFrame({
    "Number of Unique Items":[unique_items],
    "Average Price":[average_price],
    "Total Number of Purchases":[total_number_purchases],
    "Total Revenue":[total_revenue]})

summary_table

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,3.05,780,2379.77

In [11]:
#Gender Demographics
#create a new data frame player_data to show total . Use loc to return just the columns "Gender" "SN", "Age from the purchase_data_df
#drop duplicate values in player_data data frame
#create a new data frame gender_totals_df that takes a value count of the occurances of each value in the "Gender" column of the player_data data frame of "Male/Fema with a value count of just player information. Use loc to return the columns "Gender", "SN", "Age" from the original purchase_data_df, drop duplicates, and then do a value count of the new player_data_df to count the occurances of each value (Male/Female/Other) in the "Gender" column

player_data = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_data = player_data.drop_duplicates()
gender_totals = player_data["Gender"].value_counts()
gender_totals

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [12]:
#Gender Demographics
#create a new data frame gender_percentages to show total percentages of each gender. Values in gender_percentages are = gender_totals_df divided by total_players df created earlier * 100

gender_percentages_df= gender_totals / total_players
gender_percentages_df

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [13]:
#Gender Demographics
#Display Summary Data Frame Showing Total Count of Gender and Percentages by appending gender_totals_df and percentage_df using dictionary

gender_demographics_df = pd.DataFrame({"Percentage of Players": gender_percentages_df,"Total Count": gender_totals_df})
gender_demographics_df['Percentage of Players'] = gender_demographics_df['Percentage of Players'].map("{:,.2%}".format)
gender_demographics_df

                      Percentage of Players  Total Count
Male                                 84.03%          484
Female                               14.06%           81
Other / Non-Disclosed                 1.91%           11

In [14]:
#Purchasing Analysis(Gender)
#Purchase Count Grouped by Gender
# Count appearances in Purchase ID column as its the count of all purchases made by each gender

purchase_count_group = purchase_data_df.groupby(["Gender"]).count()["Price"]
purchase_count = purchase_count_group
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [15]:
#Purchasing Analysis(Gender)
#Average Purchase Price Grouped by Gender
#Average Purchase Price appears in the "Price" column as its the average of all prices grouped by gender
purchase_average_price = purchase_data_df.groupby(["Gender"]).mean()["Price"]
purchase_average_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [16]:
#Purchasing Analysis  (Gender)
#Total Purchase Value Grouped by Gender
#Total Purchase value appears in the "Price" column as its the sum of all prices grouped by gender
total_purchase = purchase_data_df.groupby(["Gender"]).sum()["Price"]
total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [17]:
#Purchasing Analysis (Gender)
#Average Purchase Per Total
#first find count of users per gender

count_users_gender = purchase_data_df.groupby(["Gender"]).nunique()["SN"]
count_users_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [18]:
#Purchasing Analysis(Gender)
#Average Total Purchase per Person 

#Average Purchase per Total - total_purchase/ count_users per gender

average_purchase_total = round(total_purchase/count_users_gender,2)
average_purchase_total

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [45]:
#Purchasing Analysis(Gender)
#Summary Table

purchasing_analysis = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price":purchase_average_price,
    "Total Purchase Value":total_purchase,"Average Total Purchase per Person":average_purchase_total})

purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.47
Male,652,3.017853,1967.64,4.07
Other / Non-Disclosed,15,3.346000,50.19,4.56

In [20]:
# Age Demographics
#Create bins for age ranges in incremenets of 4 years: <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+

bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.90, 39.90, 99999]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34", "35-39", "40+"]

In [26]:
#Age Demographics
#Bin purchase_data_df using age range bins created
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], bins, labels=bin_names)
purchase_data_df["Age Ranges"]

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age Ranges, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [27]:
#Age Demographics
#Total Count Age
total_count_age = purchase_data_df.groupby("Age Ranges").nunique()["SN"]
total_count_age

Age Ranges
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [ ]:
#Age Demographics
#Total Percentage Age

total_percentage_age = total_count_age/total_players * 100
total_percentage_age = round(total_percentage_age,2)
#total_percentage_age

In [ ]:
#Age Demographics
#Display Age Demographics Table
age_demographics = pd.DataFrame({"Percentage of Players": total_count_age, "Total Count": total_percentage_age})
age_demographics

In [ ]:
#Purchasing Analysis Age - Display Purchase Count, Averaage Purchase Price, Total Purchase Value, Average Total per person by Age
#Purchase Count by Age

purchase_count_age = purchase_data_df.groupby(["Age Ranges"]).count()["Price"]
purchase_count_age

In [28]:
#Purchasing Analysis (Age)
#Average Purchase Price by Age
average_purchase_price_age = purchase_data_df.groupby(["Age Ranges"]).mean()["Price"]
average_purchase_price_age = round(average_purchase_price_age,2)

In [29]:
#Purchasing Analysis (Age)
#Total Purchase Value by Age
total_purchase_value_age = purchase_data_df.groupby(["Age Ranges"]).sum()["Price"]
total_purchase_value_age

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [30]:
#Purchasing Analysis (Age)
#Average Total per person by Age
#first find count of users per Age Range
count_users_age = purchase_data_df.groupby(["Age Ranges"]).nunique()["SN"]
count_users_age

Age Ranges
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [31]:
#Purchasing Analysis (Age)
#Average Total Purchase  per person by Age

average_purchase_total_age = total_purchase_value_age/count_users_age
average_purchase_total_age

Age Ranges
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [ ]:
#Purchasing Analysis (Age)
#Display Purchasing Analysis by Age
purchasing_analysis_age = pd.DataFrame({"Purchase Count": purchase_count_age, "Average Purchase Price": average_purchase_price_age, "Total Purchase Value":total_purchase_value_age, "Avg Total Purchase per Person":average_purchase_total_age })
purchasing_analysis_age

In [32]:
#Top Spenders
#Top Spenders Purchase Count

top_spenders_count=purchase_data_df.groupby("SN").nunique("Purchase ID")
top_spenders_count

               Purchase ID  Age  Gender  Item ID  Item Name  Price  Age Ranges
SN
Adairialis76             1    1       1        1          1      1           1
Adastirin33              1    1       1        1          1      1           1
Aeda94                   1    1       1        1          1      1           1
Aela59                   1    1       1        1          1      1           1
Aelaria33                1    1       1        1          1      1           1
...                    ...  ...     ...      ...        ...    ...         ...
Yathecal82               3    1       1        3          3      3           1
Yathedeu43               2    1       1        2          2      2           1
Yoishirrala98            1    1       1        1          1      1           1
Zhisrisu83               2    1       1        2          2      2           1
Zontibe81                3    1       1        3          3      3           1

[576 rows x 7 columns]

In [33]:
#Top Spenders
#Top Spenders Average Purchase Price

top_spenders_average_price=purchase_data_df.groupby("SN").mean("Price")
# top_spenders_count = top_spenders_count.nunique("SN")
top_spenders_average_price =round(top_spenders_average_price,2)
top_spenders_average_price

               Purchase ID   Age  Item ID  Price
SN
Adairialis76        467.00  16.0   123.00   2.28
Adastirin33         142.00  35.0   175.00   4.48
Aeda94              388.00  17.0   128.00   4.91
Aela59               28.00  21.0   119.00   4.32
Aelaria33           630.00  23.0   171.00   1.79
...                    ...   ...      ...    ...
Yathecal82          466.67  20.0    80.33   2.07
Yathedeu43          344.00  22.0    71.50   3.01
Yoishirrala98       572.00  17.0   145.00   4.58
Zhisrisu83           97.50  10.0    42.50   3.94
Zontibe81           339.67  21.0    82.33   2.68

[576 rows x 4 columns]

In [34]:
#Top Spenders
#Top Spenders Total Purchase Value
top_spenders_total_purchase_value=purchase_data_df.groupby("SN").sum("Price")
# top_spenders_count = top_spenders_count.nunique("SN")
top_spenders_total_purchase_value

               Purchase ID  Age  Item ID  Price
SN
Adairialis76           467   16      123   2.28
Adastirin33            142   35      175   4.48
Aeda94                 388   17      128   4.91
Aela59                  28   21      119   4.32
Aelaria33              630   23      171   1.79
...                    ...  ...      ...    ...
Yathecal82            1400   60      241   6.22
Yathedeu43             688   44      143   6.02
Yoishirrala98          572   17      145   4.58
Zhisrisu83             195   20       85   7.89
Zontibe81             1019   63      247   8.03

[576 rows x 4 columns]

In [35]:
#Top Spenders
#Display Top 5 Spenders by Purchase Value Data Frame
top_spenders_analysis = pd.DataFrame({"Purchase Count":top_spenders_count, "Average Purchase Price":top_spenders_average_price, "Total Purchase Value":top_spenders_total_purchase_value})
top_spenders_analysis_final = top_spenders_analysis.sort_values(["Total Purchase Value"], ascending=False).head()

ValueError: If using all scalar values, you must pass an index

In [36]:
#Most Popular Items
#Create Data frame grouping by Item ID and Item Name
#Find Purchase Count grouped by Item ID and Item Name

most_popular_items= purchase_data_df.groupby(["Item ID", "Item Name"])
most_popular_item_purchase_count = most_popular_items.count()["Price"]
most_popular_item_purchase_count

# purchase_count_group = purchase_data_df.groupby(["Gender"]).count()["Price"]
# purchase_count = purchase_count_group
# purchase_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [37]:
#Most Popular Items
#Find Average Item Price grouped by Item ID and Item Name

most_popular_item_average_price = most_popular_items.mean()["Price"]
most_popular_item_average_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [38]:
#Most Popular Items
#Find Total Purchase Value grouped by Item ID and Item Name

most_popular_item_total_price = most_popular_items.sum()["Price"]
most_popular_item_total_price

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [39]:
#Most Popular Items 
#Display a preview (top 5) Most Popular Items grouped by Item ID and Item Name sorted by Purchase Count in descending order
most_popular_items = pd.DataFrame({"Purchase Count":most_popular_item_purchase_count, "Average Purchase Price":most_popular_item_average_price, "Total Purchase Value":most_popular_item_total_price})
most_popular_items_final = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
most_popular_items_final

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [41]:
#Most Profitable Items
#Create Data frame grouping by Item ID and Item Name
#Find Purchase Count grouped by Item ID and Item Name
most_profitable_items= purchase_data_df.groupby(["Item ID", "Item Name"])
most_profitable_items_count = most_profitable_items.count()["Price"]
most_profitable_items_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [42]:
#Most Popular Items
#Create Data frame grouping by Item ID and Item Name
#Find Average Item Price grouped by Item ID and Item Name

most_profitable_items_average_price = most_profitable_items.mean()["Price"]
most_profitable_items_average_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [43]:
#Most Popular Items
#Create Data frame grouping by Item ID and Item Name
#Find Total Purchase Value grouped by Item ID and Item Name

most_profitable_items_total_price = most_profitable_items.sum()["Price"]
most_profitable_items_total_price

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [44]:
#Most Profitable Items 
#Display a preview (top 5) Most Profitable Items grouped by Item ID and Item Name sorted by Purchase Count in descending order
most_profitable_items = pd.DataFrame({"Purchase Count":most_profitable_items_count, "Average Purchase Price":most_profitable_items_average_price, "Total Purchase Value":most_profitable_items_total_price})
most_profitable_items_final = most_profitable_items.sort_values(["Total Purchase Value"], ascending=False).head()
most_profitable_items_final

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80